body, html {
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: "Roboto", serif;
	font-size: 16px;
	font-weight: 400;
	color: #272727;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .3s ease;
}

main {
	width: 500px;
	margin-left: auto;
	margin-right: auto;

	border: 3px #767676 solid;
	border-radius: 30px;
	padding: 20px;

	text-align: center;
	margin-top: 30px;
}

main a{
	background-color: #195db0;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

main a:first-of-type {
	margin-top: 10px;
	margin-bottom: 10px;
}

main a:hover {
	opacity: 0.5;
}

main form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

main form input {
	padding: 10px;
	border-radius: 10px;
	outline: none;
	margin-bottom: 10px;
	border: 1px #767676 solid;
	width: 100%;
}

main form button {
	background-color: #195db0;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	display: block;
	width: 100%;
	cursor: pointer;
}

main form button:hover {
	opacity: 0.5;
}
